@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(../assets/88WS.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

h1, h2, h3, h4 {
    color: black;
    text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

/* nav styles */

.nav-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 70px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
}

.nav-container .logo {
    width: 80px;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-container .logo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.nav-container ul {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}

.nav-container ul li {
    list-style-type: none;
    margin: 0 40px;
}

.nav-container ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(125, 249, 255, .9);
    border-width: 0;
    transition: border-width 0.3s linear;
}

.nav-container a:hover {
    color: rgba(242, 120, 75, 1);
    border-width: 3px;
}

@media only screen and (max-width: 860px) {
    .nav-container ul {
        display: none;
    }

    .nav-container .logo {
        width: 80px;
        height: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        left: 75px;
    }

    .nav-container::after {
        cursor: pointer;
        content: '\f0c9';
        font-family: 'Font Awesome 5 Free', Lato, sans-serif;
        position: absolute;
        top: 10px;
        right: 30px;
        font-weight: bold;
        font-size: 42px;
        color: #fff;
    }

    .social-links {
        display: none;
    }

}

/* aside socials styles */

.social-links {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.social-links ul {
    list-style: none;
}

.social-links ul li {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border: 1px solid black;
    text-align: center;
    border-radius: 5%;
}

.social-links li:nth-of-type(1) {
    transform: translateX(100%);
    animation: social 1s linear 1s 1 forwards;
}
.social-links li:nth-of-type(2) {
    transform: translateX(100%);
    animation: social 1s linear 2s 1 forwards;
}
.social-links li:nth-of-type(3) {
    transform: translateX(100%);
    animation: social 1s linear 3s 1 forwards;
}
.social-links li:nth-of-type(4) {
    transform: translateX(100%);
    animation: social 1s linear 4s 1 forwards;
}

@keyframes social {
    0% {
        transform: translateX(-15%);
    }
    25% {
        transform: translateX(5%);
    }
    50% {
        transform: translateX(-10%);
    }
    75% {
        transform: translateX(5%);

    }
    100% {
        transform: translateX(0%);
    }
}


.social-links ul li a i {
    padding: 10px;
    color: 	#FFC0CB;
    
}


/* main styles  */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(108, 122, 137, .8);
    border: 5px solid rgba(255,165,0,.7);
    margin: 100px auto;
    max-width: 900px;
    height: 75vh;
    border-radius: 10px;
    font-family: 'JetBrains Mono', monospace;
    opacity: 0;
    animation: fadein 2s linear 1s 1 forwards;
    box-shadow: 0 5px 15px rgba(255,255,255,.3), 0 5px 15px rgba(255,255,255,.3);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-content {
    color: #fff;
    width: 75%;
    text-align: center;
    text-shadow: 1px 2px black;
}

.main-content .intro h1 {
    margin: 15px 0;
}

.main-content .intro p {
    line-height: 1.5;
}

.main-content .game-icon img {
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    height: 150px;
}

.btn-intro {
    cursor: pointer;
    width: 200px;
    margin-top: 20px;
    padding: 20px 15px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-size: 18px;
    font-family: 'Russo One', Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 10px;
    border: 3px solid orange;
    box-shadow: 1px 3px black;
}

.btn-intro:focus {
    outline: none;
}

.btn-intro:active {
    box-shadow: none;
    transform: scale(0.98);
}
